Hello {{ title }}
<h1>屬性綁定</h1>
<button type="button" [disabled]="isDisabled">{{ myBtn }}</button>
<br><br>

<h1>樣式綁定</h1>
<div [style.backgroundColor]="bgColor">
  <h2 [style.color]="titleColor">Title</h2>
  <p [style]="discription">content</p>
</div>
<br><br>

<h1>class綁定</h1>
<h2 [class.textColor]="redText">Title</h2>
<br><br>

<h1>事件綁定</h1>
<button (click)="incrementCounter()">Increment</button>
<p>Counter:{{ counter }}</p>
<br><br>

<h1>屬性型指令(built-in)</h1>
<h1>【NgModel】雙向綁定</h1>
<input [(ngModel)]="inputText" placeholder="請輸入文字"/>
<p>輸入值: {{ inputText }}</p>

<h1>【NgClass】</h1>
<div [ngClass]="classes">{{message}}</div>

<!-- 會取代掉原本外部檔案的樣式 -->
<h1>【NgStyle】</h1>
<div class="color-box" [ngStyle]="{'background-color':selectedColor}">Box</div>
